@media screen and (max-width: 570px){
	#grid[data-columns]::before {
		content: '1 .column.size-1of1';
	}
}

@media screen and (min-width: 571px) and (max-width: 800px) {
	#grid[data-columns]::before {
		content: '2 .column.size-1of2';
	}
}
@media screen and (min-width: 801px) and (max-width: 1100px) {
	#grid[data-columns]::before {
		content: '3 .column.size-1of3';
	}
}

@media screen and (min-width: 1101px) {
	#grid[data-columns]::before {
		content: '4 .column.size-1of4';
	}
}

/* Again, youâ€™re free to use and define the classes: */
.column { float: left; }
.size-1of1 { width: 100%; }
.size-1of2 { width: 50%; }
.size-1of3 { width: 33.333%; }
.size-1of4 { width: 25%; }