<div style="text-align:center" class="animated zoomIn">
    <button class="btn btn-default btn-rounded btn-md" (click)="getParrafos()">Consumir Párrafos</button>
</div>
<br>

<div *ngIf="this.estado == 'true'" class="container cardd animated zoomIn">
    <h2>Tabla</h2>
    <table class="table table-condensed">
        <th>
            #Índice
        </th>
        <th>
            Parrafo
        </th>
        <th>
            Suma de números
        </th>

        <tr  *ngFor="let i of this.parrafos_ev" style="padding-bottom:10px">  

            <td>            
                {{i.indice}}
            </td>
            <td>{{i.parrafo}}</td>
            <td *ngIf="i.posicion==9">{{i.numero_acumulativo}}</td>
        </tr>
    </table>
    <br>
</div>


<div *ngIf="this.estado == 'false'" class="container cardd animated zoomIn">
        <h2>El servidor respondió sin información (status: false)</h2>
</div>
    