<div *ngIf="this.mostrar == ''" style="width:100%; height:100vh; background:#1976D2; padding-top:35vh; position:fixed; top:0; left:0; z-index:99999; padding-left:20px; padding-right:20px" class="animated fadeIn">
    <div style="text-align:center">
        <h1 style="color:white;">¿Con qué API comenzamos?</h1>
        <br>
        <button class="btn btn-white-outline btn-lg btn-rounded" style="margin-right:10px" (click)="showNumeros()">API números</button>
        <button class="btn btn-white-outline btn-lg btn-rounded" style="margin-left:10px" (click)="showParrafos()">API Párrafos</button>
    </div>
</div>

<nav id="mainNav" class="navbar navbar-expand-lg navbar-light bg-light mainNav">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav mr-auto animated fadeIn">
            <li class="nav-item">
                <h4>¿Que API desea ver?</h4>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="showNumeros()" style="cursor:pointer"><i class="fas fa-link"></i> API Números</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="showParrafos()" style="cursor:pointer"><i class="fas fa-link"></i> API Párrafos</a>
            </li>
        </ul>  
    </div>
</nav>

<app-parrafos *ngIf="this.mostrar=='parrafos'"></app-parrafos>
<app-numbers *ngIf="this.mostrar=='numeros'"></app-numbers>


<router-outlet></router-outlet>
