<div *ngIf="this.estado == 'true'" class="container cardd animated zoomIn">
    <h2>Tabla</h2>
    <table class="table table-condensed">
        <th>
            # Índice
        </th>
        <th>
            Número procesado
        </th>
        <th>
            Ocurrencias
        </th>
        <tr  *ngFor="let i of this.numeros_ev" style="padding-bottom:10px">  

            <td [ngClass]="{ 'background-green':i.ocurrencia >= 2,'background-yellow':i.ocurrencia == 1,'background-gray':i.ocurrencia < 1}" >            
                {{i.indice}}
                <div *ngIf="i.posicion==1"><p>Primera posición</p></div>
                <div *ngIf="i.posicion==9"><p>Última posición</p></div>
            </td>
            <td [ngClass]="{ 'background-green':i.ocurrencia >= 2,'background-yellow':i.ocurrencia == 1,'background-gray':i.ocurrencia < 1}">{{i.numero}}</td>
            <td [ngClass]="{ 'background-green':i.ocurrencia >= 2,'background-yellow':i.ocurrencia == 1,'background-gray':i.ocurrencia < 1}">{{i.ocurrencia}}</td>
        </tr>
    </table>
    <br>

    <h2>Números ordenados</h2>
    <div class="row">
        <div class="col-md-1 col-2"  *ngFor="let k of this.numeros_ordenados">
            <div class="cardd p10 text-center">
                {{k.numero}}
            </div>
            <br>
        </div>
    </div>
</div>

<div *ngIf="this.estado == 'false'" class="container cardd animated zoomIn">
    <h2>El servidor respondió sin información (status: false)</h2>
</div>
