html {
    scroll-behavior: smooth;
}
html,body {
   margin:0px;
   padding:0px;
   width:100%;
   height:auto;
   min-height:100vh;
}
body {
   padding-top:80px;
   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+69,f2f2f2+99 */
   background: rgb(255,255,255); /* Old browsers */
   background: -moz-linear-gradient(top, rgba(255,255,255,1) 69%, rgba(242,242,242,1) 99%); /* FF3.6-15 */
   background: -webkit-linear-gradient(top, rgba(255,255,255,1) 69%,rgba(242,242,242,1) 99%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(to bottom, rgba(255,255,255,1) 69%,rgba(242,242,242,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */

}

:root {
   --trans-color:rgba(0,0,0,0.8);
   --trans-color-2:rgba(0,0,0,0.6);
   --a-hover-color:#1E6ED1;
   --color-dark:#16529A;
   --main-color:#333333;
 }

a {
   color:var(--trans-color) !important;
   transition:.3s;
}
a:hover {
   color:var(--a-hover-color) !important;
   transition:.3s;
}
a,a:hover, a:active, a:focus, button, button:active, button:focus{
   outline:0;
   text-decoration:none;
   transition:.3s;
}

.colorBlue {
   color:#026BA4 !important;
}

.fileContainer {
   overflow: hidden;
   position: relative;
}

.fileContainer [type=file] {
   cursor: inherit;
   display: block;
   font-size: 999px;
   filter: alpha(opacity=0);
   min-height: 100%;
   min-width: 100%;
   opacity: 0;
   position: absolute;
   right: 0;
   text-align: right;
   top: 0;
}


h1 
{
   color: var(--main-color);
   font-weight:400;
}
h2 {
  color: var(--main-color);
  font-weight:400;
}
h4,h3{
  color: var(--trans-color);
  font-weight:400;
}

h5,h6 {
    font-weight:400;
}

p{
   font-size:.8em;
   margin:0px;
}

.pequena {
   font-size:.6em;
   margin-bottom:10px;
}



.labelForm {
   margin:0px; 
   padding:0px;
   text-transform: uppercase;
   font-size:.5em;
   font-weight:500;
   margin-right:10px;
}


.loader {
 border: 5px solid #f3f3f3;
 border-radius: 50%;
 border-top: 5px solid #8B499A;
 width: 50px;
 height: 50px;
 -webkit-animation: spin 2s linear infinite; /* Safari */
 animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
 0% { -webkit-transform: rotate(0deg); }
 100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
 0% { transform: rotate(0deg); }
 100% { transform: rotate(360deg); }
}

.mainNav {
   width:100%; position:fixed;top:0px; left:0px; z-index:999; 
   -webkit-box-shadow: 0px 2px 22px 0px rgba(0,0,0,0.15);
   -moz-box-shadow: 0px 2px 22px 0px rgba(0,0,0,0.15);
   box-shadow: 0px 2px 22px 0px rgba(0,0,0,0.15);
}



.nav-link {
   padding-top:10px;
   font-size:.8em;
   text-transform:uppercase;
}

.msgMain {
   width:100%;
   color:rgba(255,255,255,0.6);
   padding:10px;
}

.activ {
   color:#0288D1 !important;
   font-weight:500;
}

.no-transform {
   text-transform:none;
}
.btn {
   border:2px solid rgba(0,0,0,0.1);
   border-radius:0px;
   -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
   -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
   box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.2);
   font-size:.9em;
   font-weight:500;

   transition:.5s;
   text-transform: uppercase !important;
}

.btn:hover {
   border:2px solid white;
   -webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.4);
   -moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.4);
   box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.4);
   transition:.3s;
}

.btn-morado {
    background:#894D99;
    color:white;
}

.btn-morado:hover {
   background:#9E5EAE;
}

.btn-default {
   background:var(--a-hover-color);
   color:white;
}

.btn-default:hover {
   color:white !important;
}

.color-default {
    color:var(--a-hover-color);
    transition:.3s;
}

.color-default:hover {
    color: var(--color-dark);
}

.btn-yellow {
   background:#FF9900;
   color:var(--trans-color);
}

.btn-white {
   background:white;
   border:2px solid white;
   color:rgba(0,0,0,0.8);
}

.btn-white:hover {
   border:2px solid var(--color-dark);
}



.btn-yellow-outline {
   background:none;
   border:2px solid rgb(216, 161, 11);
   color:rgb(216, 161, 11);
   box-shadow:none;
}

.btn-yellow-outline:hover {

   border:2px solid rgb(216, 137, 11);
   color:rgb(216, 137, 11);
   box-shadow:none;
}

.btn-success-outline {
   background:none;
   border:2px solid rgb(4, 177, 27);
   color:rgb(4, 177, 27);
   box-shadow:none;
}

.btn-success-outline:hover {

   border:2px solid rgb(4, 133, 21);
   color:rgb(4, 133, 21);
   box-shadow:none;
}

.color-gris {
   color:rgba(0,0,0,0.4);
}

.btn-morado-outline {
   background:none;
   border:2px solid #AD77BB;
   color:#AD77BB;
}

.btn-morado-outline:hover {

   border:2px solid #894D99;
   color:#894D99;
}

.btn-white-outline {
   border:2px solid white;
   background:none !important;
   color:white;
}

.btn-white-outline:hover {
   margin-top:-5px !important;
   margin-bottom:5px !important;
   border:2px solid rgba(255,255,255,0.5);
   color:rgba(255,255,255,0.5);
}

.color-morado {
   color:#9E5EAE;
}

.btn-xs {
   padding:5px 14px;
   font-size:.7em;

}

.btn-ultraxs {
   font-size:.5em;
   padding:2px 6px;
}

.contenedor {
   width:100%;
   max-width:1200px;
   min-width:320px;
   margin-left:auto;
   margin-right: auto;
   padding:0px 20px;
}

.noborder {
    border:0px !important;
}
.form-control {
   margin-left:auto;
   margin-right:auto;
   margin-top:10px;
   margin-bottom:10px;
   border:0px;
   border-bottom:1px solid rgba(0,0,0,0.08);
   border-radius:0px;
   padding:5px 10px;
   font-size:.8em;
   text-align:left;
   transition:.3s;
   max-height:30px;
   background:none;
}

.form-control:active, .form-control:focus, .form-control:hover {
   border-bottom:1px solid var(--a-hover-color);
   outline:0;
   box-shadow:none;
   transition:.3s;
}

.select {
   padding-top:0px;
   padding-bottom:0px;
   max-height:20px;
}


.form-control::-webkit-input-placeholder {   color: rgba(0,0,0,0.4); font-size:1em; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder {   color: rgba(0,0,0,0.4);font-size:1em; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder {   color: rgba(0,0,0,0.4);font-size:1em; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder {   color: rgba(0,0,0,0.4);font-size:1em; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder {   color: rgba(0,0,0,0.4);font-size:1em; }  /* Microsoft Edge */

.shadow {
   -webkit-box-shadow: 0px 25px 30px -33px rgba(127,13,81,0.5);
   -moz-box-shadow: 0px 25px 30px -33px rgba(127,13,81,0.5);
   box-shadow: 0px 25px 30px -33px rgba(127,13,81,0.5);
}

.cardd {
   border:1px solid rgba(0,0,0,0.05);
   transition:.5s;
   padding:15px;
   background:white;
   border-radius:2px;
   -webkit-box-shadow: 0px 2px 3px 0px rgba(34, 13, 127, 0.05);
   -moz-box-shadow: 0px 2px 3px 0px rgba(34, 13, 127, 0.05);
   box-shadow: 0px 2px 3px 0px rgba(34, 13, 127, 0.05);
}
.cardd:hover {
   margin-top:-5px;
   margin-bottom:5px;
   transition:.3s;
   -webkit-box-shadow: 0px 15px 60px -33px rgba(34, 13, 127, 0.3);
   -moz-box-shadow: 0px 15px 60px -33px rgba(34, 13, 127, 0.3);
   box-shadow: 0px 15px 60px -33px rgba(34, 13, 127, 0.3);
   border:1px solid rgba(0,0,0,0.1);
}

.card3 {
   border:1px solid rgba(0,0,0,0.05);
   transition:.5s;
   padding:15px;
   background:white;
   border-radius:10px;
   -webkit-box-shadow: 0px 25px 30px -33px rgba(127,13,81,1);
   -moz-box-shadow: 0px 25px 30px -33px rgba(127,13,81,1);
   box-shadow: 0px 25px 30px -33px rgba(127,13,81,1);
}
.card3:hover {
   margin-top:-5px;
   margin-bottom:5px;
   transition:.3s;
   -webkit-box-shadow: 0px 25px 30px -33px rgba(34, 13, 127, 0.3);
   -moz-box-shadow: 0px 25px 30px -33px rgba(34, 13, 127, 0.3);
   box-shadow: 0px 25px 30px -33px rgba(34, 13, 127, 0.3);
   border:1px solid #B28CBB;
}


.card2 {
   border:1px solid rgba(0,0,0,0.03);
   border-top:2px solid var(--a-hover-color);
   transition:.2s;
   padding:15px;
   padding-bottom:15px;
   background:white;
   border-radius:2px;
}
.card2:hover {

   transition:.2s;
   -webkit-box-shadow: 0px 25px 30px -33px rgba(34, 13, 127, 0.3);
   -moz-box-shadow: 0px 25px 30px -33px rgba(34, 13, 127, 0.3);
   box-shadow: 0px 25px 30px -33px rgba(34, 13, 127, 0.3);
   border:1px solid rgba(0,0,0,0.1);
   border-top:2px solid var(--color-dark);
}

.cardd2 {
   border:1px solid rgba(0,0,0,0.06);
   transition:.2s;
   padding:15px;
   padding-bottom:5px;
   background:white;
}
.cardd2:hover {
   /*margin-top:-5px;
   margin-bottom:5px;*/
   transition:.2s;
   -webkit-box-shadow: 0px 25px 30px -33px rgba(34, 13, 127, 0.3);
   -moz-box-shadow: 0px 25px 30px -33px rgba(34, 13, 127, 0.3);
   box-shadow: 0px 25px 30px -33px rgba(34, 13, 127, 0.3);
}



.card-floating {
   background:white;
   border-radius:10px;
   position:absolute; 
   top:25vh; 
   left:30%;
   z-index:9;
   width:40%;
   margin-left:auto;
   margin-right:auto; 
   padding:10px 10px;
   -webkit-box-shadow: 0px 0px 94px -34px rgba(0,0,0,0.75);
   -moz-box-shadow: 0px 0px 94px -34px rgba(0,0,0,0.75);
   box-shadow: 0px 0px 94px -34px rgba(0,0,0,0.75);
}

.background-white {
   width:100%; 
   height:100vh; 
   position:fixed; 
   top:0px; 
   left:0px; 
   z-index:99999; 
   background:rgba(255,255,255,0.9)
}

.sector {
   color:#0288D1;
   font-size:.7em;
   font-weight:500;
   padding:0px 5px;
   display:inline-block;
   transition:.5s;
   cursor:pointer;
}

.sector:hover {
   color:#026BA4;
   display:inline-block;
   transition:.5s;
}

.sector2 {
   color:white;
   background:#0288D1;
   border:1px solid #0288D1;
   font-size:.7em;
   font-weight:500;
   padding:4px 10px;
   border-radius:20px;
   margin-right:10px;
   display:inline-block;
   transition:.5s;
   cursor:pointer;
}


.sectorWhite {
   background:white;
   border:1px solid white;
   font-size:.7em;
   font-weight:500;
   padding:4px 10px;
   border-radius:20px;
   margin-right:10px;
   color:rgba(0,0,0,0.8);
   display:inline-block;
   transition:.5s;
   cursor:pointer;
}

.sectorWhite:hover {
   background:white;
   border:1px solid #0288D1;
   font-size:.7em;
   font-weight:500;
   padding:4px 10px;
   border-radius:20px;
   margin-right:10px;
   color:#0288D1;
   display:inline-block;
   transition:.5s;
}



.sectorr {
   background:white;
   font-size:.7em;
   color:#0288D1;
   transition:.5s;
   cursor:pointer;
   transition:.5s;
   font-weight:500;
}

.sectorr:hover {
   color:#014163;
   transition:.5s;
}



.avatar {
   border:2px solid white;
   border-radius:100%;
   -webkit-box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.08);
   -moz-box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.08);
   box-shadow: 0px 2px 1px 1px rgba(0,0,0,0.08);
   transition:.2s;
   width:180px;
}

.avatar:hover {
   border:2px solid var(--a-hover-color);
   margin-top:-5px;
   margin-bottom:5px;
   -webkit-box-shadow: 0px 15px 20px -10px rgba(0,0,0,0.13);
   -moz-box-shadow: 0px 15px 20px -10px rgba(0,0,0,0.13);
   box-shadow: 0px 15px 20px -10px rgba(0,0,0,0.13);
   transition:.2s;
}

.avatar30 {
   border:2px solid white;
   width:30px;
   border-radius:100%;
   -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.20);
   -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.20);
   box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.20);
   transition:.2s;
}

.avatar30:hover {
   border:2px solid var(--a-hover-color);
   transition:.2s;
}

.avatar50 {
   width:40px;
   border-radius:100%;
   -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.20);
   -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.20);
   box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.20);
}

.nm {
   margin:0px !important;
}
.nmt {
   margin-top:0px;
}

.nmb {
   margin-bottom:0px;
}

.np {
   padding:0px !important;
}
.npt {
   padding-top:0px;
}

.npb {
   padding-bottom:0px;
}

.pb5 {
   padding-bottom:5px !important;
}

.margintop10 {
   margin-top:10px !important;
}
.margintop20 {
   margin-top:20px !important;
}

.margintop5 {
   margin-top:5px;
}
.marginbot10 {
   margin-bottom:10px;
}

.margin10 {
   margin:10px !important;
}

.margin5 {
    margin:5px !important;
}


.p5 {
   padding:5px !important;
}

.p10{
   padding:10px;
}

.p20 {
   padding:20px;
}

.pl10 {
   padding-left:10px;
   padding-right:10px;
}



.right {
   text-align:right;
}

.left {
   text-align:left;
}

.separador {
   margin-top:15px;
   margin-bottom:15px;
   width:40%;
   height:1px;
   background:rgba(0,0,0,0.05);
   margin-left:auto;
   margin-right:auto;
}

.separadorleft {
   margin-top:15px;
   margin-bottom:15px;
   width:50px;
   height:2px;
   background:#E91E63;
}

.btn-exclusive {
   background: #0296e0; /* Old browsers */
   background: -moz-linear-gradient(-45deg, #0296e0 0%, #0288d1 100%); /* FF3.6-15 */
   background: -webkit-linear-gradient(-45deg, #0296e0 0%,#0288d1 100%); /* Chrome10-25,Safari5.1-6 */
   background: linear-gradient(135deg, #0296e0 0%,#0288d1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0296e0', endColorstr='#0288d1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
   transition: all .1s linear;
   border:2px solid #0296e0;
   border-radius:20px;
   color:white;
}

.btn-primary {
   background:#0288D1;
}

.btn-primary:hover {
   background:#026BA4;
   
}

.btn-outline-primary {
   background:none;
   border:1px solid #026BA4;
   color:#026BA4;
}

.btn-outline-primary:hover {
   background:none;
   border:1px solid #0296E6;
   color:#0296E6;
}

.btn-outline-primaryd {
   background:none;
   border:1px solid rgba(0,0,0,0.4);
   color:rgba(0,0,0,0.6);
       transition:.5s;
}
.btn-outline-primaryd .oculto
{
   display:none;
}

.btn-outline-primaryd:hover {
   background:none;
   border:1px solid #FF5252;
   color:#FF5252;
}

.btn-outline-primaryd:hover .oculto{
   display:inline;
}


.btn-rounded {
   border-radius:30px;
}

.img-rounded {
   border-radius:50%;
}

.h20 {
   height:20px;
}
.h15 {
   height:15px;
}

@media only screen and (max-width:768px) 
{
   #login_left {
       display:none;
   }
   #searchtop {
       display:none;
   }
   .hidden-fono {
       display:none;
   }
}

@media only screen and (min-width:769px) 
{
   .hidden-desk {
       display:none;
   }
}


.dropdown-menu {
   padding:0px;
   border:0px;
-webkit-box-shadow: 0px 0px 24px -11px rgba(0,0,0,0.41);
-moz-box-shadow: 0px 0px 24px -11px rgba(0,0,0,0.41);
box-shadow: 0px 0px 24px -11px rgba(0,0,0,0.41);
}

.dropdown-item
{
   padding:7px 12px;
   font-size:.8em !important;
   text-transform:uppercase;
   color:rgba(0,0,0,0.5) !important;
}

th {
   font-size:.8em;
}



.alert-success {
   background:rgba(255,255,255,0.9);
   color:rgba(0,0,0,0.8);
   border:1px solid rgba(0,0,0,0.06);
   font-size:.9em;
   -webkit-box-shadow: 2px 2px 50px -8px rgba(0,0,0,0.15);
   -moz-box-shadow: 2px 2px 50px -8px rgba(0,0,0,0.15);
   box-shadow: 2px 2px 50px -8px rgba(0,0,0,0.15);
   border-radius:10px;
}

.portada {
   width:100%;
   height:300px;
   background-position:center center;
   background-size:cover;

   -webkit-box-shadow: 0px 2px 30px -33px rgba(0,0,0,0.22);
   -moz-box-shadow: 0px 2px 30px -33px rgba(0,0,0,0.22);
   box-shadow: 0px 2px 30px -33px rgba(0,0,0,0.22);
   
}

.background-green{
   background:green;
   color:white;
}

.background-yellow{
   background:yellow;
}

.background-gris {
   background:gray;
}